@charset "utf-8";

/* 폰트 선언 */
@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}


/* css 시작 */
*{ margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{ list-style: none;}
a{ text-decoration: none; color: inherit; }
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
p{
    font-family: 'Pretendard';
}
@media all and (max-width:360px){
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}

/* app */
#app{
    padding: 2rem;
    text-align: center;
    background-color: aliceblue;
    width: 360px;
    height: 640px;
    border: 1px solid #222;
    border-radius: 1rem;
    position: relative;
    > h1{
        font-family: 'Simple';
        color: rgb(41, 41, 41);
    }
}

#categoies{
    ul{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        }
    }
.category-item {
    border-radius: 3rem;
    background-color: #333;
    margin-bottom: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    flex-direction: column;
    gap: 0;
    overflow-y: auto;
    overflow: hidden; 
    height: auto; 
}

.stack-card {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    border-radius: 20px;
    background-color: #222;
    position: relative;
    z-index: 1;
    margin-top: -60px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: bottom;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    p{
        transition: 0.25s;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(2px);
    }
}
.stack-card:first-child {
    margin-top: 0;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.stack-card:hover {
    transform: translateY(-20px);
    z-index: 1;
}
.stack-card:hover p {
    background-color: transparent;
    backdrop-filter: none;
    opacity: 0;
}

/* 개별 스타일 */
.item-0 { 
    background-image: url(../assets/demonslayer.jpg) 
}
.item-1 { 
    background-image: url(../assets/gojo.jpg) 
}
.item-2 { 
    background-image: url(../assets/sF.jpg) 
}
.item-3 { 
    background-image: url(../assets/Chainsaw\ Man.jpg) 
}

#quiz-page{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: 0.3s;
        li{
            padding-top: 1.2rem;
            text-align: center;
            color: rgb(55, 81, 104);
            border-radius: 20px;
            width: 100%;
            height: 60px;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
                &:hover{
                box-shadow: 0 12px 20px rgba(0,0,0,0.20);
                transform: translateY(-1px) scale(1.01);
            }
        }
    }
}
#quiz-page p{
    margin-top: 25px;
}
#quiz-page span{
    font-size: 15px;
}
.question{
    text-align: left;
    font-size: 23px;
}
.score{
    margin-top: 0.8rem;
    text-align: left;
    
}

#result{
    p{
        font-family: 'Simple';
        font-size: 48px;
    }
}
.btn{
    background-color: #222;
    color: #ffffff;
}