@charset "utf-8";



*{ margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{ list-style: none;}
a{ text-decoration: none; color: inherit; }
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

@media all and (max-width:360px){
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}

/* app */
#app{
    background-color: aliceblue;
    width: 360px;
    height: 640px;
    border: 1px solid #222;
    border-radius: 1rem;
    > h1{
        color: aqua;
    }
}

#categoies{
    ul{
        li{
            cursor: pointer;
            margin: 0.5rem 0;
        }
    }
}