@charset "utf-8";

/* 폰트 선언 */
@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}


/* css 시작 */
*{ margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{ list-style: none;}
a{ text-decoration: none; color: inherit; }
#root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 배경 css */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    /* background-color: rgba(0,0,0,0.2); */
    opacity: 90%;
    
}

p{
    color: rgb(243, 243, 243);
    font-family: 'Pretendard';
}
@media all and (max-width:360px){
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 1rem;
    }
}

/* app */
#app{
    padding: 2rem;
    text-align: center;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 360px;
    height: 640px;
    border-radius: 3rem;
    position: relative;
    > h1{
        font-family: 'Simple';
        color: rgb(243, 243, 243);
    }
}
/* 바깥 버튼 css */
.sound-btn {
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 12px 20px;
    border-radius: 14px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    transition: 0.3s;
    &:hover{
        filter: brightness(0.8);
    }
}
#categoies{
    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        }
    }
.category-item {
    border-radius: 3rem;
    background-color: #333;
    margin-bottom: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    flex-direction: column;
    gap: 0;
    overflow-y: auto;
    overflow: hidden; 
    height: auto; 
}

.stack-card {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    border-radius: 20px;
    background-color: #222;
    position: relative;
    z-index: 1;
    margin-top: -60px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: bottom;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    p{
        transition: 0.25s;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(2px);
    }
}
.stack-card:first-child {
    margin-top: 0;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.stack-card:hover {
    transform: translateY(-20px);
    z-index: 1;
}
.stack-card:hover p {
    background-color: transparent;
    backdrop-filter: none;
    opacity: 0;
}

/* 개별 스타일 */
.item-0 { 
    background-image: url('../components/assets/demonslayer.jpg') 
}
.item-1 { 
    background-image: url('../components/assets/sF.jpg') 
}
.item-2 { 
    background-image: url('../components/assets/gojo.jpg') 
}
.item-3 { 
    background-image: url('../components/assets/ChainsawMan.jpg') 
}

#quiz-page{
        display: flex;
        flex-direction: column;
    ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: 0.3s;
        li{
            padding-top: 0.7rem;
            text-align: center;
            border-radius: 20px;
            width: 100%;
            height: 45px;
            /* 글래스 */
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            color: white;
                &:hover{
                    cursor: pointer;
                    box-shadow: 0 12px 20px rgba(0,0,0,0.20);
                    transform: translateY(-1px) scale(1.01);
            }
        }
    }
}
.exam {
    img{
        width: 100%;
        height: 100%;
    }
}


.list{
    display: flex;
        flex-direction: column;
        gap: 1rem;
}
#quiz-page span{
    font-size: 15px;
}
.question{
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}
.score{
    margin-top: 0.8rem;
    text-align: left;
    
}

#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    p{
        font-family: 'Simple';
        font-size: 48px;
        
    }
}
.btn{
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #222;
    color: #ffffff;
    width: 100px;
    height: 100%;
    &:hover{
            box-shadow: 0 12px 15px rgba(0,0,0,0.20);
            transform: translateY(-1px) scale(1);
    }
}
.sel{
    color: #222;
}
.backGround{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reze{
    position: absolute;
    top: 35%;
    left: 22%;
    width: 360px;
    height: 640px;
    background-size: cover;
    background-image:url('../components/assets/reze.png');
    animation: slideUp 0.8s cubic-bezier(0.17, 0.55, 0.55, 1) forwards;
    opacity: 0;
    transform: translateY(50px);
}

.power{
    position: absolute;
    left: 53%;
    top: 37.5%;
    width: 620px;
    height: 620px;
    
    background-repeat: no-repeat;
    background-size: fit;
    background-image: url('../components/assets/power.png');
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s cubic-bezier(0.17, 0.55, 0.55, 1) forwards;
}

/* 애니메이션 처리 */
@keyframes slideUp {
    0% {
    opacity: 0;
    transform: translateY(50px);
}

    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
